<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>THE ASIA</title>
    	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet"> 
	<style>		
		@media (max-width:580px) {
			.imgFull {
				width:100% !important;
			}
			.logoBtm {
				display:inline-block!important;	
			}
		
			.extra-line {
				line-height:16px!important;
			}
			.extraPadi {
				line-height:23px!important;
			}
			.tblful {
				width:100%!important;
			}
			.centeralign {
				text-align: center !important;
				width: 100%!important;
			}
			.footer-logo img{
				margin:0 auto!important;	
			}
			.footerSec {
				padding:50px 0 45px!important;	
			}
			.footer-logo {
				padding:0 15px 30px!important;
				border-right: none!important;
				text-align:center!important;	
			}
			
			.booking-img > img {
				width:100%!important;
			}
			.mbCenter {
				text-align: center !important;
				padding-right: 0 !important;
			}
			.blockSec {
				padding-left:0 !important;
			}
			.col-break {
				width:165px !important;
			}
		}
		@media (max-width:480px) {
			.fullview {
				width:100%!important;
			}
		}
    </style>
    </head>
    <body bgcolor="#f0f0f0" style="margin:0; padding:0;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
      <tr>
        <td>
        <table class="tblful" width="580" cellpadding="0" cellspacing="0" border="0" align="center">
            <tr>
            <td bgcolor="#f0f0f0" height="52"></td>
          </tr>
            <tr>
            <td bgcolor="#f0f0f0" style="padding:0 15px;" align="center"><a href="https://www.theasia.com/en/"><img src="http://harsol.com/testing/asia/images/logo.png" alt="..."/></a></td>
          </tr>
            <tr>
            <td bgcolor="#f0f0f0" height="54"></td>
          </tr>
            <tr>
            <td bgcolor="#f0f0f0" align="left" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#666666;padding:0 15px;">Hi User</td>
          </tr>
          <tr>
            <td height="30" bgcolor="#f0f0f0" align="left" style="padding:0 15px;"><img style="display:block;border:none;" src="http://harsol.com/testing/asia/images/spacer.gif" alt="..."></td>
          </tr>
          <tr>
            <td bgcolor="#f0f0f0" align="left" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#666666;padding:0 15px;line-height:22px;">Welcome, traveller! Thank you for your interest in The Asia. We've created an account for you to make it even easier for to book with us in the future. You can access your profile and reset your password from the link below. </td>
          </tr>
          <tr>
            <td height="20" bgcolor="#f0f0f0" align="left" style="padding:0 15px;"><img style="display:block;border:none;" src="http://harsol.com/testing/asia/images/spacer.gif" alt="..."></td>
          </tr>
          
          
          
         <tr>
          	<td bgcolor="#f0f0f0" align="left" style="padding:0 15px;">
            	<table width="100%" cellpadding="0" cellspacing="0" border="0">
                	<tr>
                   
                        <td width="580" height="30" bgcolor="#00b594" align="center" style="border-radius:3px;"><a href=<%= url %> style="display:block;font-size:14px;color:#fff;font-family:'Montserrat', Arial, Helvetica, sans-serif;text-decoration:none;">Reset Your Password</a></td>
                   
                    </tr>
                </table>
            	
            </td>
          </tr>
          
          
          <tr>
            <td height="20" bgcolor="#f0f0f0" align="left" style="padding:0 15px;"><img style="display:block;border:none;" src="http://harsol.com/testing/asia/images/spacer.gif" alt="..."></td>
          </tr>
          <tr>
            <td bgcolor="#f0f0f0" align="left" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#666666;padding:0 15px;line-height:22px;">We hope you have fun on your upcoming tour and we look forward to welcoming you back for another exciting adventure with The Asia soon.  </td>
          </tr>
          <tr>
            <td height="25" bgcolor="#f0f0f0" align="left" style="padding:0 15px;"><img style="display:block;border:none;" src="http://harsol.com/testing/asia/images/spacer.gif" alt="..."></td>
          </tr>
          <tr>
            <td bgcolor="#f0f0f0" align="left" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#666666;padding:0 15px;line-height:22px;">Check out our top picks for holiday destinations and start planning your next trip now. </td>
          </tr>
          
          <tr>
            <td height="20" bgcolor="#f0f0f0" align="left" style="padding:0 15px;"><img style="display:block;border:none;" src="http://harsol.com/testing/asia/images/spacer.gif" alt="..."></td>
          </tr>
          
          <tr>
            <td bgcolor="#f0f0f0" align="left" style="padding:0 15px;">
            	 <table width="100%" cellpadding="0" cellspacing="0" border="0" align="left">
                 	<tr>
                    	<td>
                        	<table class="tblful" cellpadding="0" cellspacing="0" border="0" align="left">
                            	<tr>
                                	<td class="mbCenter" style="padding:0 14px 25px 0;">
                                    	<table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        		<tr>
                                              <td class="tblful"  bgcolor="#000000" width="174" height="92" align="center" style="background-image:url(http://harsol.com/testing/asia/images/singapore-img.jpg);background-repeat:no-repeat;background-size:cover;background-position:left center;font-size:14px;color:#fff;font-family:'Montserrat', sans-serif, Arial, Helvetica, sans-serif;">Bangkok</td>
                                                </tr>
                                        </table>
                                    </td>
                                	
                                </tr>
                            </table>
                            <table class="tblful" cellpadding="0" cellspacing="0" border="0" align="left">
                            	<tr>
                                	<td class="mbCenter" style="padding:0 14px 25px 0;">
                                    	<table width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                               <td class="tblful"  bgcolor="#000000" width="174" height="92" align="center" style="background-image:url(http://harsol.com/testing/asia/images/bankok-img.jpg);background-repeat:no-repeat;background-size:cover; background-position:left center;font-size:14px;color:#fff;font-family:'Montserrat', sans-serif, Arial, Helvetica, sans-serif;">Singapore</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table class="tblful" cellpadding="0" cellspacing="0" border="0" align="left">
                            	<tr>
                                	<td class="mbCenter" style="padding:0 0 25px 0;">
                                    	<table width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                 <td class="tblful"  bgcolor="#000000" width="174" height="92" align="center" style="background-image:url(http://harsol.com/testing/asia/images/phuket-img.jpg);background-repeat:no-repeat;background-size:cover;  background-position:left center;font-size:14px;color:#fff;font-family:'Montserrat', sans-serif, Arial, Helvetica, sans-serif;">Phuket</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                 </table>
      		
            </td>
          </tr>
          
          
        <tr>
            <td style="padding:0 15px;border-bottom: 1px solid #dfdfdf;" height="2" bgcolor="#f0f0f0">
                <img style="display:block;border:none;" src="http://harsol.com/testing/asia/images/spacer.gif" alt="...">
            </td>
        
    	</tr> 	
            
            <tr>
            <td bgcolor="#f0f0f0" align="center" style="padding:20px 15px;"><table width="162" cellpadding="4" cellspacing="0" border="0">
                <tr>
                <td><a href="javascript:void(0);"><img class="show" src="http://harsol.com/testing/asia/images/facebook.png" alt="..."/></a></td>
                <td><a href="javascript:void(0);"><img class="show" src="http://harsol.com/testing/asia/images/insta.png" alt="..."/></a></td>
                <td><a href="javascript:void(0);"><img class="show" src="http://harsol.com/testing/asia/images/twitter.png" alt="..."/></a></td>
                <td><a href="javascript:void(0);"><img class="show" src="http://harsol.com/testing/asia/images/youtube.png" alt="..."/></a></td>
              </tr>
              </table></td>
          </tr>
            <tr>
        	  <td>
            	<table class="tblful" width="580" cellpadding="0" cellspacing="0" border="0" align="center">
            	 	<tr>
                    	<td class="footerSec" align="center" bgcolor="#e4e5e5" style="padding:25px 15px 20px;border-bottom:7px solid #4bab86;">
                        	<table width="275" class="centeralign" cellpadding="0" cellspacing="0" border="0" align="left">
								<tr>
									<td class="footer-logo" align="center" style="padding:5px 10px 5px 15px; border-right: 1px solid #cccccc;">
										<span class="mbCenter" style="display:block; text-align:right;"><a href="https://www.theasia.com/en/"><img class="logoBtm" style="display:block;border:0;margin:0 0 0 auto;" src="http://harsol.com/testing/asia/images/logo.png" alt="..."/></a></span>
									</td>
								</tr>								
							</table>
							<table width="260" class="centeralign" cellpadding="0" cellspacing="0" border="0" align="left">
								<tr>
								<td style="padding:0 12px;">
							<table width="100%" cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td style="font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;font-size:9px;color:#999999;line-height:13px;">120 Lower Delta House #01-03 </td>
								</tr>
								<tr>
									<td class="extra-line" style="font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;font-size:9px;color:#999999;line-height:13px;">Cendex Centre, Singapore 169208  </td>
								</tr>
								<tr>
									<td class="footerlink-align">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
												<td style="line-height:9px;"><a style="font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;font-size:9px;color:#999999;text-decoration:none;line-height:13px;padding-right:3px;border-right:1px solid #999999;" href="mailto:cs@theasia.com">e:  cs@theasia.com</a><a style="font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;font-size:9px;color:#999999;text-decoration:none;line-height:13px;padding-left:3px;" href="https://www.theasia.com/en/" target="_blank">www.theasia.com</a></td>
											   
											</tr>
										</table>
										 
									</td>
									
								</tr>
							</table>
								 </td>
								 </tr>
							</table>
                        </td>
                    </tr>
                 </table>   
            </td>
        </tr>
          </table>
          </td>
      </tr>
    </table>
</body>
</html>