<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>THE ASIA</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet"> 
	<style>		
		@media (max-width:580px) {
			.imgFull {
				width:100% !important;
			}
			.logoBtm {
				display:inline-block!important;	
			}
		
			.extra-line {
				line-height:16px!important;
			}
			.extraPadi {
				line-height:23px!important;
			}
			.tblful {
				width:100%!important;
			}
			.centeralign {
				text-align: center !important;
				width: 100%!important;
			}
			.footer-logo img{
				margin:0 auto!important;	
			}
			.footerSec {
				padding:50px 0 45px!important;	
			}
			.footer-logo {
				padding:0 15px 30px!important;
				border-right: none!important;
				text-align:center!important;	
			}
			
			.booking-img > img {
				width:100%!important;
			}
			.mbCenter {
				text-align: center !important;
			}
			.blockSec {
				padding-left:0 !important;
			}
		}
    </style>
  </head>
  <body bgcolor="#f0f0f0" style="margin:0; padding:0;">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
    	<tr>
        	<td>
            	<table class="tblful" width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                	<tr>
                    	<td bgcolor="#f0f0f0" height="52"></td>
                    </tr>
                    <tr>
                    	<td bgcolor="#f0f0f0" style="padding:0 15px;" align="center"><a href="https://www.theasia.com/en/"><img src="http://harsol.com/testing/asia/images/logo.png" alt="..."/></a></td>
                    </tr>
                    <tr>
                    	<td bgcolor="#f0f0f0" height="54"></td>
                    </tr>
                    <tr>
                    	<td bgcolor="#f0f0f0" align="left" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#666666;padding:0 15px;"><%= paragraph1 %> <%= name %></td>
                    </tr>
                    <tr>
                    	<td bgcolor="#f0f0f0" align="left" style="font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif; font-weight:500;font-size:18px;color:#00b594;padding:23px 15px;"><%= paragraph2 %> </td>
                    </tr>
                    <tr>
                    	<td bgcolor="#f0f0f0" align="left" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#666666;line-height:22px;padding:0 15px 25px;"><%= paragraph3 %>
</td>
                    </tr>
                     <tr>
                    	<td bgcolor="#f0f0f0" align="left" style="font-family:Arial, Helvetica, sans-serif;font-weight:700;font-size:16px;color:#00b594;padding:0 15px;"><%= paragraph4 %></td>
                    </tr>
                    <tr>
                    	<td bgcolor="#f0f0f0" align="left" style="font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#666666;line-height: 20px;padding:0 15px 15px;"><%= paragraph5 %></td>
                    </tr>
                    <tr>
                    	<td bgcolor="#f0f0f0" align="left" style="padding:0 15px;">
                        	<table class="tblful booking-img" width="277" cellpadding="0" cellspacing="0" border="0" align="left">
                            	<tr>
                                	<td valign="top"><img class="imgFull" style="display:block;border:0;" src="http://harsol.com/testing/asia/images/img1.jpg" alt="..."/></td>
                                </tr>
                                <tr>
                                	<td height="20" valign="top"><img style="display:block;border:0;" src="http://harsol.com/testing/asia/images/spacer.gif" alt="..."/></td>
                                </tr>
                             </table>
                             <table class="tblful" width="258" cellpadding="0" cellspacing="0" border="0" align="left">
                            	<tr>
                                	<td class="blockSec" valign="top" align="left">
                                    	<table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        	<tr>
                                            	<td align="left" style="font-family: 'Montserrat', sans-serif,Arial, Helvetica, sans-serif; font-weight:500;padding:12px 0;font-size:15px;color:#666666;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;"><%= paragraph6 %>. #<%= paragraph7 %></td>
                                            </tr>
                                            <tr>
                                            	<td>
                                                	<table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                    	
                                                    	<tr>
                                                        	<td valign="top" style="padding:7px 0;"><img style="display:block;" src="http://harsol.com/testing/asia/images/guest.png" alt="..."/></td>
                                                            <td valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif;padding:7px 0 7px 10px;font-size:15px;color:#666666;"><%= paragraph8 %> (<%= paragraph9 %> <%= paragraph10 %>/<%= paragraph11 %> <%= paragraph12 %>)</td>
                                                        </tr>
                                                    	<tr>
                                                        	<td colspan="2" height="1" style="border-top:1px solid #dfdfdf;"><img style="display:block;border:none;" src="http://harsol.com/testing/asia/images/spacer.gif" alt="..."/></td>
                                                        </tr>
                                                    	<tr>
                                                        	<td valign="top" style="padding:7px 0;"><img style="display:block;" src="http://harsol.com/testing/asia/images/departure.png" alt="..."/></td>
                                                            <td valign="top" style="padding:7px 0 7px 10px;font-family:Arial, Helvetica, sans-serif;font-size:15px;color:#666666;"><%= paragraph13 %></td>
                                                        </tr>
                                                    <tr>
                                                        	<td colspan="2" height="1" style="border-top:1px solid #dfdfdf;"><img style="display:block;border:none;" src="http://harsol.com/testing/asia/images/spacer.gif" alt="..."/></td>
                                                        </tr>
                                          
                                                    	<tr>
                                                        	<td valign="top" style="padding:7px 0;"><img style="display:block;" src="http://harsol.com/testing/asia/images/selected.png" alt="..."/></td>
                                                            <td valign="top" style="padding:7px 0 7px 10px;font-family:Arial, Helvetica, sans-serif;font-size:15px;color:#666666;"><%= paragraph14 %></td>
                                                        </tr>
                                                       <tr>
                                                                <td colspan="2" height="1" style="border-top:1px solid #dfdfdf;"><img style="display:block;border:none;" src="http://harsol.com/testing/asia/images/spacer.gif" alt="..."/></td>
                                                            </tr>
                                          
                                                    	<tr>
                                                        	<td valign="top" style="padding:7px 0;"><img style="display:block;" src="http://harsol.com/testing/asia/images/pickup.png" alt="..."/></td>
                                                            <td valign="top" style="padding:7px 0 7px 10px;font-family:Arial, Helvetica, sans-serif;font-size:15px;color:#666666;"><%= paragraph15 %> <%= paragraph16 %></td>
                                                        </tr>
                                                         <tr>
                                                                <td colspan="2" height="1" style="border-top:1px solid #dfdfdf;"><img style="display:block;border:none;" src="http://harsol.com/testing/asia/images/spacer.gif" alt="..."/></td>
                                                            </tr>
                                                        <tr>
                                                            <td class="extraPadi" colspan="2" style="padding:7px 0 0 0;font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#666666;"><%= paragraph17 %>:</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;font-weight:600;color:#666666;"><%= paragraph18 %></td>
                                                        </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                                </tr>
                             </table>      
                    
               
            </td>
        </tr>
        			<tr>
                    	<td height="45" bgcolor="#f0f0f0" style="padding:0 15px;border-bottom: 1px solid #dfdfdf;">
                        	<img style="display:block;border:none;" src="http://harsol.com/testing/asia/images/spacer.gif" alt="...">
                        </td>
                    	
                    </tr>
                    <tr>
                    	<td bgcolor="#f0f0f0" align="center" style="padding:20px 15px;">
                        	<table width="162" cellpadding="4" cellspacing="0" border="0">
                            	<tr>
                                	<td><a href="javascript:void(0);"><img class="show" src="http://harsol.com/testing/asia/images/facebook.png" alt="..."/></a></td>
                                    <td><a href="javascript:void(0);"><img class="show" src="http://harsol.com/testing/asia/images/insta.png" alt="..."/></a></td>
                                    <td><a href="javascript:void(0);"><img class="show" src="http://harsol.com/testing/asia/images/twitter.png" alt="..."/></a></td>
                                    <td><a href="javascript:void(0);"><img class="show" src="http://harsol.com/testing/asia/images/youtube.png" alt="..."/></a></td>
                                </tr>
                            </table>
                        </td>
                    	
                    </tr>
                    
           			
            
    			</table>
    		</td>
        </tr>
        <tr>
        	  <td>
            	<table class="tblful" width="580" cellpadding="0" cellspacing="0" border="0" align="center">
            	 	<tr>
                    	<td class="footerSec" align="center" bgcolor="#e4e5e5" style="padding:25px 15px 20px;border-bottom:7px solid #4bab86;">
                        	<table width="275" class="centeralign" cellpadding="0" cellspacing="0" border="0" align="left">
								<tr>
									<td class="footer-logo" align="center" style="padding:5px 10px 5px 15px; border-right: 1px solid #cccccc;">
										<span class="mbCenter" style="display:block; text-align:right;"><a href="https://www.theasia.com/en/"><img class="logoBtm" style="display:block;border:0;margin:0 0 0 auto;" src="http://harsol.com/testing/asia/images/logo.png" alt="..."/></a></span>
									</td>
								</tr>								
							</table>
							<table width="260" class="centeralign" cellpadding="0" cellspacing="0" border="0" align="left">
								<tr>
								<td style="padding:0 12px;">
							<table width="100%" cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td style="font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;font-size:9px;color:#999999;line-height:13px;">120 Lower Delta House #01-03 </td>
								</tr>
								<tr>
									<td class="extra-line" style="font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;font-size:9px;color:#999999;line-height:13px;">Cendex Centre, Singapore 169208  </td>
								</tr>
								<tr>
									<td class="footerlink-align">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
												<td style="line-height:9px;"><a style="font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;font-size:9px;color:#999999;text-decoration:none;line-height:13px;padding-right:3px;border-right:1px solid #999999;" href="mailto:cs@theasia.com">e:  cs@theasia.com</a><a style="font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;font-size:9px;color:#999999;text-decoration:none;line-height:13px;padding-left:3px;" href="https://www.theasia.com/en/" target="_blank">www.theasia.com</a></td>
											   
											</tr>
										</table>
										 
									</td>
									
								</tr>
							</table>
								 </td>
								 </tr>
							</table>
                        </td>
                    </tr>
                 </table>   
            </td>
        </tr>
    </table>        
  </body>

</html>