<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>THE ASIA</title>
    	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet"> 
	<style>		
		@media (max-width:580px) {
			.imgFull {
				width:100% !important;
			}
			.logoBtm {
				display:inline-block!important;	
			}
		
			.extra-line {
				line-height:16px!important;
			}
			.extraPadi {
				line-height:23px!important;
			}
			.tblful {
				width:100%!important;
			}
			.centeralign {
				text-align: center !important;
				width: 100%!important;
			}
			.footer-logo img{
				margin:0 auto!important;	
			}
			.footerSec {
				padding:50px 0 45px!important;	
			}
			.footer-logo {
				padding:0 15px 30px!important;
				border-right: none!important;
				text-align:center!important;	
			}
			
			.booking-img > img {
				width:100%!important;
			}
			.mbCenter {
				text-align: center !important;
				padding-right: 0 !important;
			}
			.blockSec {
				padding-left:0 !important;
			}
			.col-break {
				width:165px !important;
			}
		}
			@media (max-width:480px) {
			.fullview {
				width:100%!important;
			}
			.small-txt {
				font-size:11px!important;
			}
		}
    </style>
    </head>
    <body bgcolor="#f0f0f0" style="margin:0; padding:0;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
      <tr>
        <td>
        <table class="tblful" width="580" cellpadding="0" cellspacing="0" border="0" align="center">
            <tr>
            <td bgcolor="#f0f0f0" height="52"><img style="display:block;border:none;" src="http://harsol.com/testing/asia/images/spacer.gif" alt="..."></td>
          </tr>
            <tr>
            <td bgcolor="#f0f0f0" style="padding:0 15px;" align="center"><a href="https://www.theasia.com/en/"><img style="display:block;" src="http://harsol.com/testing/asia/images/logo.png" alt="..."/></a></td>
          </tr>
            <tr>
            <td bgcolor="#f0f0f0" height="54"><img style="display:block;border:none;" src="http://harsol.com/testing/asia/images/spacer.gif" alt="..."></td>
          </tr>
            <tr>
            <td bgcolor="#f0f0f0" align="left" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#666666;padding:0 15px;">Hi <%= name %></td>
          </tr>
          <tr>
            <td bgcolor="#f0f0f0" height="24"><img style="display:block;border:none;" src="http://harsol.com/testing/asia/images/spacer.gif" alt="..."></td>
          </tr>
          
       		 <tr>
             	<td bgcolor="#f0f0f0" style="padding:0 15px;">
                	 <table width="100%" cellpadding="0" cellspacing="0" border="0">
                     	<tr>
                        <td align="center" width="580" height="205" bgcolor="#000000" style="background-image:url(http://harsol.com/testing/asia/images/img4.jpg);background-position:center center;background-repeat:no-repeat;background-size:cover;font-size:20px;color:#fff;font-weight:700;text-transform:uppercase;font-family:'Montserrat', sans-serif, Arial, Helvetica, sans-serif;">Thanks for joining The Asia!</td>
                        </tr>
                     </table>
                </td>
          </tr>
          
          <tr>
            <td bgcolor="#f0f0f0" height="24"><img style="display:block;border:none;" src="http://harsol.com/testing/asia/images/spacer.gif" alt="..."></td>
          </tr>
          
          
           <tr>
          	<td bgcolor="#f0f0f0" align="left" style="padding:0 15px;">
            	<table width="100%" cellpadding="0" cellspacing="0" border="0">

                </table>
            	
            </td>
          </tr>
          
          
          
          <tr>
            <td bgcolor="#f0f0f0" align="left" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#666666;line-height:22px;padding:20px 15px 20px;">Now that you are member, it is time to start making magical travel memories. We've collected the most fun, exciting and culturally enriching tours across the region to add a little local flavor to your next trip.</td>
          </tr>
          <tr>
            <td bgcolor="#f0f0f0" align="left" style="padding:0 15px;">
            	 <table width="100%" cellpadding="0" cellspacing="0" border="0" align="left">
                 	<tr>
                    	<td>
                        	<table class="tblful"cellpadding="0" cellspacing="0" border="0" align="left">
                            	<tr>
                                	<td class="mbCenter" style="padding:0 14px 25px 0;">
                                    	<table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        		<tr>
                                              <td class="tblful"  bgcolor="#000000" width="174" height="92" align="center" style="background-image:url(http://harsol.com/testing/asia/images/singapore-img.jpg);background-repeat:no-repeat;background-size:cover;background-position:center center;font-size:14px;color:#fff;font-family:'Montserrat', sans-serif, Arial, Helvetica, sans-serif;">Bangkok</td>
                                                </tr>
                                        </table>
                                    </td>
                                	
                                </tr>
                            </table>
                            <table class="tblful" cellpadding="0" cellspacing="0" border="0" align="left">
                            	<tr>
                                	<td class="mbCenter" style="padding:0 14px 25px 0;">
                                    	<table width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                               <td class="tblful"  bgcolor="#000000" width="174" height="92" align="center" style="background-image:url(http://harsol.com/testing/asia/images/bankok-img.jpg);background-repeat:no-repeat;background-size:cover; background-position:center center;font-size:14px;color:#fff;font-family:'Montserrat', sans-serif, Arial, Helvetica, sans-serif;">Singapore</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table class="tblful"  cellpadding="0" cellspacing="0" border="0" align="left">
                            	<tr>
                                	<td class="mbCenter" style="padding:0 0 25px 0;">
                                    	<table width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                 <td class="tblful"  bgcolor="#000000" width="174" height="92" align="center" style="background-image:url(http://harsol.com/testing/asia/images/phuket-img.jpg);background-repeat:no-repeat;background-size:cover;  background-position:center center;font-size:14px;color:#fff;font-family:'Montserrat', sans-serif, Arial, Helvetica, sans-serif;">Phuket</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                 </table>
      		
            </td>
          </tr>
          
          
          <tr>
          	<td bgcolor="#f0f0f0" align="left" style="padding:0 15px;">
            	<table width="100%" cellpadding="0" cellspacing="0" border="0">
                	<tr>
                   
                    <td width="580" height="30" bgcolor="#00b594" align="center" style="border-radius:3px;"><a class="small-txt" href="javascript:void(0);" style="display:block;font-size:14px;color:#fff;font-family:'Montserrat', Arial, Helvetica, sans-serif;text-decoration:none;">Browse our carefully chosen tours and activities</a></td>
                   
                    </tr>
                </table>
            	
            </td>
          </tr>
        
        
        
            <td style="padding:0 15px;border-bottom: 1px solid #dfdfdf;" height="24" bgcolor="#f0f0f0">
                <img style="display:block;border:none;" src="http://harsol.com/testing/asia/images/spacer.gif" alt="...">
            </td>
        
    	</tr> 	
            
            <tr>
            <td bgcolor="#f0f0f0" align="center" style="padding:20px 15px;"><table width="162" cellpadding="4" cellspacing="0" border="0">
                <tr>
                <td><a href="javascript:void(0);"><img class="show" src="http://harsol.com/testing/asia/images/facebook.png" alt="..."/></a></td>
                <td><a href="javascript:void(0);"><img class="show" src="http://harsol.com/testing/asia/images/insta.png" alt="..."/></a></td>
                <td><a href="javascript:void(0);"><img class="show" src="http://harsol.com/testing/asia/images/twitter.png" alt="..."/></a></td>
                <td><a href="javascript:void(0);"><img class="show" src="http://harsol.com/testing/asia/images/youtube.png" alt="..."/></a></td>
              </tr>
              </table></td>
          </tr>
            <tr>
        	  <td>
            	<table class="tblful" width="580" cellpadding="0" cellspacing="0" border="0" align="center">
            	 	<tr>
                    	<td class="footerSec" align="center" bgcolor="#e4e5e5" style="padding:25px 15px 20px;border-bottom:7px solid #4bab86;">
                        	<table width="275" class="centeralign" cellpadding="0" cellspacing="0" border="0" align="left">
								<tr>
									<td class="footer-logo" align="center" style="padding:5px 10px 5px 15px; border-right: 1px solid #cccccc;">
										<span class="mbCenter" style="display:block; text-align:right;"><a href="https://www.theasia.com/en/"><img class="logoBtm" style="display:block;border:0;margin:0 0 0 auto;" src="http://harsol.com/testing/asia/images/logo.png" alt="..."/></a></span>
									</td>
								</tr>								
							</table>
							<table width="260" class="centeralign" cellpadding="0" cellspacing="0" border="0" align="left">
								<tr>
								<td style="padding:0 12px;">
							<table width="100%" cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td style="font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;font-size:9px;color:#999999;line-height:13px;">120 Lower Delta House #01-03 </td>
								</tr>
								<tr>
									<td class="extra-line" style="font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;font-size:9px;color:#999999;line-height:13px;">Cendex Centre, Singapore 169208  </td>
								</tr>
								<tr>
									<td class="footerlink-align">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
												<td style="line-height:9px;"><a style="font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;font-size:9px;color:#999999;text-decoration:none;line-height:13px;padding-right:3px;border-right:1px solid #999999;" href="mailto:cs@theasia.com">e:  cs@theasia.com</a><a style="font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;font-size:9px;color:#999999;text-decoration:none;line-height:13px;padding-left:3px;" href="https://www.theasia.com/en/" target="_blank">www.theasia.com</a></td>
											   
											</tr>
										</table>
										 
									</td>
									
								</tr>
							</table>
								 </td>
								 </tr>
							</table>
                        </td>
                    </tr>
                 </table>   
            </td>
        </tr>
          </table>
          </td>
      </tr>
    </table>
</body>
</html>